.iconMenu {
    display: flex;
    align-items: center;
}

.icon {
    margin: 0 1%;
    cursor: pointer;
}

@media only screen and (max-width : 900px) {
    .iconMenu {
        display: none;
    }
}
