.micIcon {
    background-color: red;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 10px 10px;
    color: white;
    position: absolute;
    left: 45%;
    bottom: 15%;
}

.close {
    float: right;
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
    padding: 5px;
}