.sideMenu {
    display: flex;
    flex-direction: column;
    width: 200px;
    overflow-y: auto;
}

h4 {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.lastOptions {
    margin-left: 20px;
    font-size: 15px;
}

span {
    color: gray;
}