.sideMenu {
    display: flex;
    flex-direction: column;
    width: 210px;
    overflow-y: scroll; 
    overflow-x: hidden;
    height: 100vh;
}

h4 {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.lastOptions {
    margin-left: 20px;
    font-size: 15px;
}

span {
    color: gray;
}

hr {
    width: 190px;
    color: lightgray;
}