.menuIcon {
    opacity: 0.6;
    color: black;
    
}

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.headerItems {
    height: 50px;
    display: flex;
    align-items: center;
}

.searchBox {
    height: 35px;
    width: 30vw;
    font-size: 20px;
}

.searchIcon {
    height: 50px;
    padding: 7px 20px;
    border: 1px solid grey;
    background-color: #f2f8fa;
}

.micIcon {
    background-color: #f2f8fa;
    border: 1px solid #f2f8fa;
    padding: 2px;
    margin: 0px 5px;
    border-radius: 50%;
}