.channelResult {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thumbnail {
    width: 350px;
    height: 200px;
}

.channelTitle {
    margin-bottom: 10px;
}

.channelDescription {
    font-size: smaller;
    font-weight: lighter;
    color: grey;
}

.channelSubscribers {
    font-size: smaller;
    font-weight: lighter;
    color: grey;
}

.textDetails {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
    display: inline;
}

.subscribeBtn {
    display: inline;
}

@media only screen and (max-width:800px) {
    .subscribeBtn {
        display: none;
    }

    .textDetails {
        width: 45%;
    }

    .thumbnail {
        width: 100px; 
        position: fixed;   
        right:50px;    
    }

    .avatar {
        position: block;
    }
}