.menuOption { 
    display: flex;
    align-items: center;
    width: 210px;
    height: 40px;
    margin: 0 5px;
    cursor: pointer;
    flex-shrink: 0;
}

.menuOption:not(.selectedOption):hover {
    background-color: rgb(211, 211, 211, 0.4);
}

.sideIcon {
    margin-left: 10px;
    margin-right: 25px;
}

.selectedOption {
    background-color: rgb(211, 211, 211);
}