.expandedSideMenu {
    display: flex;
    flex-direction: column;
    width: 240px;
    overflow-y: scroll; 
    overflow-x: hidden;
    height: 90vh;
    margin-top: 2px;
}

h4 {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.lastOptions {
    margin-left: 20px;
    font-size: 15px;
}

span {
    color: gray;
}

.smallLine {
    width: 2300px;
    border: 0.5px solid lightgray;
}