.card {
    width: 350px;
    height: 250px;
    border-radius: 0%;
}

@media only screen and (max-width:1000px) {
    .card {
        width: 250px;
        height: 300px;
    }
}

@media only screen and (max-width:600px) {
    .card {
        width: 350px;
        height: 250px;
    }
}

.channelLogo {
    display: inline;
}

.videoTitle {
    display: flex;
    width: 300px;
    margin-right: 40px;
}

.title {
    margin-left: 12px;
    font-size: medium;
    font-weight: 500;
}

.channelName {
    margin-top: 7px;
    color: grey;
    font-weight: lighter;
    font-size: small;
}

.emptyLine {
    line-height: 20px;
}

.moreVert {
    margin-left: 10px;
    margin-right: -10px;
    display: none;
}

.videoDetails {
    display: flex;
}

.card:hover {
    cursor: pointer;
}

.card:hover \ .moreVert{
    display:block;
}
