.card {
    width: 350px;
    height: 250px;
    border-radius: 0%;
}

@media only screen and (max-width:1000px) {
    .card {
        width: 250px;
        height: 300px;
    }
}

@media only screen and (max-width:600px) {
    .card {
        width: 350px;
        height: 250px;
    }
}

.threeDotsIcon {
    margin-left: 10px;
    margin-right: -10px;
    display: none;
}

.cardContent {
    display: flex;
}

.card:hover {
    cursor: pointer;
}

.card:hover .threeDotsIcon{
    display: block;
}

