.videoActions {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin-right: -10px;
}

.iconName {
    text-align: center;
    font-size: 11px;
    margin: 0px 5px;
}

.videoActionItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    margin: 0 2%;
}

.videoActionItem .tooltiptext {
    visibility: hidden;
    background-color: rgb(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    font-size: 13px;
    padding: 5px 10px;
    min-width: 120px;
    /* Position the tooltip */
    margin-left: -10px;
    margin-top: 70px;
    position: absolute;
    z-index: 1;
}

.videoActionItem:hover .tooltiptext {
    visibility: visible;
}

.moreHorizon{
    display: inline;
}

@media only screen and (max-width : 1300px) and (min-width : 1250px){
    .videoActions{
        margin-right: 130px;
    }
}

@media only screen and (max-width : 1300px) {
    .videoActions {
        width: 100%;
        margin-top: 15px;
    }

    .moreHorizon{
        display: none;
    }
}

@media only screen and (max-width : 650px) {
    .videoActions {
        display: none;
    }

    .videoActionItem {
        flex-wrap: wrap;
    }
}