.suggestions {
    width: 27%;
    margin: 0% 1% 0% 5px;
    height: 2000px;
    background-color: aqua;
}

@media only screen and (max-width : 1200px) {
    .suggestions {
        width: 100%;
        margin: 10px 2%;
    }
}