.suggestions {
    width: 32%;
    margin: 0% 1% 20% 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    justify-content: flex-start;
}

@media only screen and (max-width : 1250px) {
    .suggestions {
        width: 100%;
        margin: 15px 1%;
        margin-bottom: 100px;
    }

    .videoDetails {
        width: 100%;
        margin-right: 0;
    }

    .videoTitle {
        display: -webkit-box;
        -webkit-line-clamp: 2; 
                line-clamp: 2; 
        -webkit-box-orient: vertical;
    }

    .Thumbnail {
        width: 60%;
        height: 80%;
    }
}

.videoSuggestionCard {
    display: flex;
    flex-direction: row;
    max-height: 100px;
    margin: 1% 0;
}

.videoDetails {
    width: 60%;
    height: 40%;
    margin-left: 10px;
}

.Thumbnail {
    height: 100%;
    width: 40%;
}

.videoTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.channelName {
    margin-top: 7px;
    color: grey;
    font-weight: lighter;
    font-size: small;
}


.threeDotsIcon {
    margin-left: 10px;
    margin-right: -10px;
    display: none;
}

.videoSuggestionCard:hover {
    cursor: pointer;
}

.videoSuggestionCard:hover .threeDotsIcon{
    display: block;
}


@media only screen and (max-width : 900px) {
    .suggestions {
        width: 100%;
        margin: 10px 1%;
    }

    .videoDetails {
        width: 60%;
        margin-right: 0;
    }

    .videoTitle {
        display: -webkit-box;
        -webkit-line-clamp: 2; 
                line-clamp: 2; 
        -webkit-box-orient: vertical;
    }

    .Thumbnail {
        display: block;
        top: 0px;
        width: 50%;
        height: 100%;
    }
}
