.channelLogo {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline;
    top: 0;
}

.channelTitle {
    display: inline;
    font-size: small;
}

.channelDetails {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.channelSubscribers {
    font-size: smaller;
    font-weight: lighter;
    color: grey;
}

.textDetails {
    margin-left: 10px;
}

.subscribeBtn {
    background-color: red;
    color: white;
    border: 1px solid red;
    padding: 8px 8px;
    font-size: 15px;
    cursor: pointer;
}

.channelDetailsBar {
    display: flex;
    justify-content: space-between;
}