.filterBar {
    position: sticky;
    height: 50px;
    margin-top: -8px;
}

hr {
    border: 0.5px solid lightgray;
}

.filterButton {
    margin: 4px 12px;
    border-radius: 15px;
    border: 1px solid rgb(211, 211, 211, 0.7);
    padding: 5px 10px;
    white-space: nowrap;
    font-weight: 500;
    font-size: medium;
    background-color: rgb(211, 211, 211, 0.4);
    cursor: pointer;
}

.filterButton:not(.selectedFilter):hover {
    background-color: rgb(211, 211, 211, 0.7);
}

.filterWordsCollapsed {
    width: calc(100vw - 210px);
}

.filterWordsExpanded {
    width: calc(100vw - 60px);
}

.filterWords {
    overflow-x: scroll;
    display: flex;
    box-sizing: border-box;
    padding-right: 30px;
    scroll-behavior: smooth;
}

.filterWords::-webkit-scrollbar {
    display: none;
}

.selectedFilter {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.rightButton {
    position: sticky;
    right:-16px;
    background-color: white;
    z-index: 999;
    padding: 10px 20px;
    border-right: 2px solid rgb(255, 255, 255, 0.7);
    cursor: pointer;
    padding-right: 34px;
}

.leftButton {
    position: sticky;
    left: 0;
    background-color: white;
    border-right: 2px solid rgb(255, 255, 255, 0.7);
    z-index: 999;
    padding: 10px 20px;
    cursor: pointer;
}

.emptySpace {
    margin-right: 64px;
}