.filterBar {
    position: fixed;
    height: 50px;
}

hr {
    border: 0.5px solid lightgray;
}

.filterButton {
    margin: 4px 12px;
    border-radius: 15px;
    border: 1px solid rgb(211, 211, 211, 0.7);
    padding: 5px 10px;
    white-space: nowrap;
    font-weight: 500;
    font-size: medium;
    background-color: rgb(211, 211, 211, 0.4);
    cursor: pointer;
}

.filterButton:hover {
    background-color: rgb(211, 211, 211, 0.7);
}

.filterWordsCollapsed {
    width: calc(100vw - 210px);
}

.filterWordsExpanded {
    width: calc(100vw - 60px);
}

.filterWords {
    overflow-x: scroll;
    display: flex;
    box-sizing: border-box;
    padding-right: 30px;
}

.filterWords::-webkit-scrollbar{
    display: none;
  }