.videoResult {
    display: flex;
    margin-top: 45px;
    cursor: pointer;
}

.thumbnail {
    width: 350px;
    height: 200px;
    margin: -20px 5px;
}

.videoDetails {
    width: 60%;
}

.threeDotsIcon {
    display: none;
}

.videoResult:hover .threeDotsIcon {
    display: block;
}

@media only screen and (max-width : 800px) {
    .videoDetails {
        width: 50%;
    }

    .videoResult {
        margin: 0px 10px;
    }

    .thumbnail {
        margin: 0 5px;
    }
}

@media only screen and (max-width : 650px) {
    .videoDetails {
        width: 50%;
    }

    .thumbnail {
        width: 35%;
        height: 150px;
    }

    .threeDotsIcon {
        margin-right: -5%;
    }
}

@media only screen and (max-width : 550px) {
    .videoDetails {
        width: 35%;
        margin-right: -30px;
    }

    .thumbnail {
        width: 30%;
        height: 150px;
    }

    .videoResult {
        margin: 0px 0px;
    }

    .threeDotsIcon {
        margin-left: 0px;
    }
}